body {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.logo {
  width: 5%;
  height: auto;
  padding: 10px;
}

.headerImage {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
}
/* subSection */
.row {
  display: flex;
  background-color: #F6F6F6;
    }

  .column {
    width: 33.33%;
    padding: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }

  li {
    float: left;
}

a {
  display: block;
  padding: 8px;
}

.partnerLogo {
  width: 20%;
  height: auto;
  padding: 10px;
}