.grid-container {
    display: grid;
    background-color: lightgrey;
 
    }

  .headerImage {
    width: 100%;
    height: auto;
  }

  .navBar {
    width: 100%;
    height: auto;
    background-color: lightsalmon;
  }